{%- if blocks != blank and blocks.size > 0 -%}
  <div class="nuumi-badge-list{% if class != blank %} {{ class }}{% endif %}">
    {%- for block in blocks -%}
      <div class="nuumi-badge-list__item" {{ block.shopify_attributes }}>
        {%- if block.settings.custom_icon != blank -%}
          <span class="nuumi-badge-list__icon">
            {{ block.settings.custom_icon | image_url: width: 48 | image_tag: loading: 'lazy', widths: '24,48', alt: block.settings.text | default: block.settings.title | escape }}
          </span>
        {%- elsif block.settings.icon != blank and block.settings.icon != 'none' -%}
          <span class="nuumi-badge-list__icon">
            {% render 'nuumi-icons', icon: block.settings.icon %}
          </span>
        {%- endif -%}
        <span class="nuumi-badge-list__text">{{ block.settings.text | default: block.settings.title }}</span>
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}
